<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c386c8">  <td>21/12/17 15:09:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:tests.LoginTest@5c30a9b0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@440737101</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>21/12/17 15:09:41</td>   <td>11700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:tests.LoginTest@5c30a9b0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@440737101</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>21/12/17 15:09:32</td>   <td>2361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLoginNOK()[pri:0, instance:tests.LoginTest@5c30a9b0]">testLoginNOK</td> 
  <td>main@440737101</td>   <td></td> </tr>
</table>
