<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d076c9">  <td>21/12/21 17:25:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:tests.LoginTest@1139b2f3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1846501247</td>   <td></td> </tr>
<tr bgcolor="d076c9">  <td>21/12/21 17:25:15</td>   <td>9358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLoginNOK()[pri:0, instance:tests.LoginTest@1139b2f3]">testLoginNOK</td> 
  <td>main@1846501247</td>   <td></td> </tr>
<tr bgcolor="d076c9">  <td>21/12/21 17:25:19</td>   <td>13500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:tests.LoginTest@1139b2f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1846501247</td>   <td></td> </tr>
</table>
